{% extends "ttkom/base.html" %}
{% load static %}
{% block title %}page de compte de {{ user.username }}{% endblock %}
{% block image %}{% endblock %}
{% block page_title %}En quoi c'est fait ?!{% endblock %}
{% block subheading %}Si tu veux étre sur regarde{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>pseudo: {{ user.username }}</h1>
                <p>nom: {{ user.first_name }}</p>
                <p>prenom: {{ user.last_name }}</p>
                <p>incrit depuis: {{ user.date_joined|date }}</p>
                <p>derniere connection le {{ user.last_login|date }}</p>
                {% if user.is_staff %}
                    <p>et il fait parti du staff faut pas l'embéter</p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}