{% extends "ttkom/base.html" %}
{% load static %}
{% block title %}changer mot de passe{% endblock %}
{% block image %}{% static "ttkom/img/password_change.png" %}{% endblock %}
{% block head_title %}changer le mot de pass{% endblock %}
{% block subheading %}apparament c'est bon{% endblock %}
{% block header_option %}<a href="#form" class="scroll-down"></a>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if validlink %}
                    <form id="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>
                {% else %}
                    ha bas non
                    "tu l'as peut-être deja utilisé"
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
