{% extends "ttkom/base.html" %}
{% load static %}
{% block head_title %}réinitialiser le mot de pass{% endblock %}
{% block picture %}{% static "ttkom/img/password_change.png" %}{% endblock %}
{% block page_title %}Mot de pass oublier{% endblock %}
{% block subheading %}changer par email{% endblock %}
{% block header_option %}<a href="#form" class="scroll-down"></a>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form id="form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Envoier le courriel">
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
