{% extends "ttkom/base.html" %}
{% load static %}
{% block head_title %}S'inscrire{% endblock %}
{% block picture %}{% static "ttkom/img/login_bg.jpg" %}{% endblock %}
{% block page_title %}Page d'inscription{% endblock %}
{% block subheading %}Inscrits toi !!{% endblock %}
{% block header_option %}<a href="#form" class="scroll-down"></a>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form action="{% url 'register' %}#form" id="form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
